:root {
  --brand-color: #819b57;
  --brand-color-light: #cfcfbc;
  --brand-color-dark: #465929;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261A;
  --color-secondary-dark: #A18268;
}

<<<<<<< Updated upstream
//$color-primary-dark: #31261A; це як варіант задання змінних,
// але краще в css все ж таки, але потрібні для адаптиву
=======
<<<<<<< HEAD
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;

// scss змінні - потрібні для адаптиву
=======
//$color-primary-dark: #31261A; це як варіант задання змінних,
// але краще в css все ж таки, але потрібні для адаптиву
>>>>>>> 6ff42a3054ebf98959570cc4c75e0156e3e9334b
>>>>>>> Stashed changes
