:root {
  --brand-color: #819b57;
  --brand-color-light: #cfcfbc;
  --brand-color-dark: #465929;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261A;
  --color-secondary-dark: #A18268;
}

//$color-primary-dark: #31261A; це як варіант задання змінних,
// але краще в css все ж таки, але потрібні для адаптиву