.button {
  display: block;
  padding: 16px 32px;
  color: var(--color-primary-light);
  font-weight: 600;
  background-color: var(--brand-color);
  border: 2px solid var(--brand-color);
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    color: var(--brand-color-dark);
    background-color: transparent;
  }
}
/*.button:disabled {*/
/*    color: lightgrey;*/
/*    cursor: not-allowed;*/
/*} щоб не натискалась кнопка поки поля не заповнені*/