.slider-button{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  background: transparent;
  fill: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background: var(--color-primary-dark);
    fill: var(--color-primary-light)
  }

  &.next {
    transform: rotate(180deg);
  }
}

