.form-field {
  position: relative;
  margin-bottom: 32px;
}
.form-label {
  position: absolute;
  top: 16px;
  left: 42px;
  /*display: block; position надає block автоматично*/
}
/*Варіанти імплементації, щоб label переходив над полем input*/
/*.form-input:focus+.form-label {*/
/*    transform: translate(-40px, -36px);*/
/*}
+ в html поміняти місцями label та input*/

/* за допомогою псевдокласу*/
/*.form-field:focus-within .form-label {*/
/*    transform: translate(-40px, -36px);}
+ тут місцями label та input міняти не треба*/

.form-input {
  padding: 16px 42px;
  width: 100%;
  font-size: 16px;
  line-height: 1.17;
  border: 1px solid var(--color-secondary-dark);
  border-radius: 8px;
  background-color: transparent;
}
/*.form-input:placeholder-shown {*/
/*    background-color: hotpink;*/
/*} надає фон до введення даних*/

.form-input:focus {
  border-color: var(--brand-color);
  outline: none; /*щоб відображалась зміна кольору при наведенні*/
}
.form-input::placeholder {
  font-size: 16px;
  line-height: 1.17;
  color: var(--color-secondary-dark);
}
.form-input:focus::placeholder {
  color: var(--color-primary-dark)
}
.form-button {
  margin: 0 auto 24px;
  display: block; /*щоб працював margin*/
}
.form-policy {
  margin: 0 auto; /*вирівняли по центру*/
  max-width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}
.form-policy-link {
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}

/*.checkbox {*/
/*    position: relative;*/
/*}*/
/*.checkbox-input {*/
/*    appearance: none;*/
/*}*/
/*.checkbox-input:checked + .checkbox-label::before{*/
/*    background-color: var(--color-secondary-dark);*/
/*}*/
/*.checkbox-label {*/
/*    padding-left: 16px;*/
/*}*/
/*.checkbox-label:before {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 16px;*/
/*    height: 16px;*/
/*    margin-top: 5px;*/
/*    border: 1px solid var(--color-primary-dark);*/
/*    border-radius: 2px;*/
/*    content: '';*/
/*}*/